<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EduHub - My Courses</title>
    <link rel="stylesheet" href="{{url_for('static', path='styles.css')}}" />
  </head>
  <body>
    <div class="header">
      <div class="header-content">
        <div class="brand">
          CodeHive
          <img
            src="{{url_for('static', path='test4.png')}}"
            alt="CodeHive"
            width="40"
            height="35"
          />
        </div>
        <div
          class="tab"
          style="
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
          "
        >
          <span style="margin: 0 40px">
            <a
              href="/student/{{id}}/quizzes"
              class="btn btn-tabs"
              style="font-size: 16px"
              >Quiz</a
            >
          </span>
          <span style="margin: 0 40px">
            <a
              href="/student/{{id}}/discussions"
              class="btn btn-tabs"
              style="font-size: 16px"
              >Discussion</a
            >
          </span>
          <span style="margin: 0 40px">
            <a
              href="/student/{{id}}/courses"
              class="btn btn-tabs"
              style="font-size: 16px"
              >Courses</a
            >
          </span>
          <span style="margin: 0 40px">
            <a
              href="/student/{{id}}/profile"
              class="btn btn-tabs"
              style="font-size: 16px"
              >Profile</a
            >
          </span>
        </div>
        <a href="/" class="loginandout" style="font-size: 16px">Logout</a>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <h2 class="section-title">My Courses</h2>
        <div class="course-list">
          {%for c in courses%}
          <a href="/student/{{id}}/chat/{{c.id}}" class="course-card">
            <div class="course-title">{{c.name}}</div>
            <div class="course-meta">
              <span>{{c.professor}}</span>
              <span>{{c.enrolled_student | length}}</span>
            </div>
          </a>
          {%endfor%}
        </div>
      </div>
    </div>
  </body>
</html>
