<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EduHub - Teacher Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', path='styles.css')}}">
  </head>
  <body>
    <div class="header">
      <div class="header-content">
        <div class="brand">
          CodeHive
          <img src="{{url_for('static', path='test4.png')}}" alt="CodeHive" width="40" height="35" />
        </div>
        <a href="/" class="loginandout">Logout</a>
        <div style="width: 40px"></div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
          "
        >
          <h2 class="section-title" style="margin: 0">Quiz</h2>
          <a
            href="/teacher/{{id}}/quiz/new"
            class="btn"
            style="font-size: 24px; padding: 10px 20px; text-decoration: none"
            >➕</a
          >
        </div>
        <div class="quiz-list">
          {%for q in quizzes %}
          <a href="/professor/{{id}}/quiz/submissions" class="quiz-card">
            <div class="quiz-title">{{q.title}}</div>
            <div class="quiz-meta">
              <span>📅 Created:{{q.duedate}}</span>
              <span>👥 {{q.participated_students | length}} submissions</span>
              <span>Duration: {{q.duration}}</span>
            </div>
          </a>
          {%endfor%}
        </div>
      </div>
    </div>
  </body>
</html>